.item-nav {
  color: black !important;
  font-weight: bold !important;

}

.header-custom { 
  background-color: white !important;
  -webkit-box-shadow: 0px 8px 25px -8px rgba(0,0,0,1);
-moz-box-shadow: 0px 8px 25px -8px rgba(0,0,0,1);
box-shadow: 0px 8px 25px -8px rgba(0,0,0,1);
}
.header_area {
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header-custom { 
  background-color: #002347 !important;
  color:white !important;

}
  .header_area {

   background-color: #002347 !important;
}
.item-nav {
  color: white !important;
}
.title {
    color: white !important;
    font-size: 30px !important;
    font-weight: bold;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
