.single-trainer .meta-text {
    background: #f9f9ff;
    padding: 20px 25px;
    box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #ffffff;
}
.single-trainer .thumb {
    position: relative;
    background-color: white;
}
.single-trainer {
    margin-bottom: 30px;
}
.item-single-trainer {
  background-color: white;
}
.single-trainer:hover {
 -webkit-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
}
.single-trainer .meta-text .designation {
    font-size: 14px;
    margin-bottom: 30px;
}
.single-trainer .meta-text {
    height: 250px !important;
    position: relative;

}
.icon-social {
  width: 15px;
}
.social-group{
  bottom: 10px;
  margin: 0 30px;
  position: absolute;
}
.social-group a {
  margin: 0 10px;
}
.text-underline-none {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.social-group{
  margin: 0 75px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}