.single_feature {
  height: 300px;
    position: relative;
    background: #f9f9ff;
    padding: 40px 36px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single_feature .icon span {
    font-size: 30px;
}